* {
	color: lime;
	background-color: black;
	box-sizing: border-box;
}
.typeSpace {
	background-color: black;
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	font-size: 1.5rem;
}
input {
	border-bottom: dashed 1px lime;
	font-family: "fira code";
	font-size: 1.5rem;
}
span {
	margin-left: 1rem;
}

ul {
	list-style: none;
}
li::before {
	content: "\2771\2771\2771\2771";
}
.headItem,
.contentItem {
	margin-bottom: 1rem;
}
.headItem::before {
	content: "\2771\2771";
}
.languages::before {
	content: "\2771";
}
.languages li::before {
	content: "\25A0";
}
.languages li {
	margin-left: 1rem;
}
.valid::before {
	font-size: 1rem;
	content: "\2771\0020";
}
.previousCommands {
	font-size: 0.85rem;
}
.invalid::before {
	content: "\2716\0020 command not found: ";
	color: red;
}
.nameBanner {
	font-weight: bold;
	font-size: 0.8rem;
	line-height: 0;
}
